.solution-message {
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  max-width: var(--board-size);
  box-sizing: border-box;
}

.solution-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--green-color);
}

.solution-header h3 {
  margin: 0;
}

.solution-header svg {
  fill: var(--green-color);
}
